* {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  color: #fbfbfb;
}

.navbar {
  padding: 20px;
  max-width: 800px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid darkblue;
}

.navbar .links {
  margin-left: auto
}

.navbar a {
  margin-left: 10px;
  padding: 6px
}

.navbar a:hover {
  color: yellow;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.MuiDataGrid-columnHeaders {
background-color: #1c1c1c;
color: 'yellow';
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1c1c1c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #1c1c1c;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
