name: Build

on:
  push:
    branches:
      - main
      - dev


jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 20

      - run: npm install

      # Build Docker image
      - name: Build Docker Image
        run: docker build -t mmo-frontend:latest .

      # I would run Sonar CLoud here but that does automatic checks on pulls.