name: Build

on:
  push:
    branches:
      - main
      - dev


jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 20

      - run: npm install

      # Build Docker image
      - name: Build Docker Image
        run: docker build -t mmo-frontend:latest .

      # Run SonarCloud analysis
      - uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          args: >
            -Dsonar.projectKey=JansenBhodi_Frontend-MMOlogs
            -Dsonar.organization=jansenbhodi
            -Dsonar.sources=src
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info